html,
body {
  height: 100%;
  width: 100%;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.2)
}

#color ul {
  list-style: none;
}

#color ul li {
  display: block;
  height: 20px;
  width: 20px;
}

#color ul li.active {
  border: 1px solid tomato
}